<div class="form">
  <%= form_for @message do |f| %>
    <%= f.label :to %><br>
    <%= f.text_field :to %><br>
    <%= f.label :from %><br>
    <%= f.text_field :from %><br>
    <%= f.label :body %><br>
    <%= f.text_field :body %><br><br>
    <%= f.submit %><br>
  <% end %>
</div>
